  <h1>Hello and welcome to Ladder Digital!</h1>

 <%= form_tag("/charges/new", method: "get") do %>
  <%= label_tag(:quantity, "How many variations would you like??") %>
  <%= text_field_tag(:quantity) %>
  <%= submit_tag("Submit") %>
<% end %>